<div class="container">
  <h1>User Form</h1>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
    <div class="form-group">
      <label for="fullname">Full Name</label>
      <input type="text" class="form-control" id="fullname" name="fullname" [class.bordered-invalid]="!name.valid && name.touched" [class.bordered-valid]="name.valid && name.touched" required [(ngModel)]="userForm.name" #name="ngModel">
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
       Name is required 
      </div>
    </div>
    <div class="form-group">
      <label for="organization">Organization</label>
      <input type="text" class="form-control" name="organization" [(ngModel)]="userForm.organization" id="organization">
    </div>
    <div class="form-group">
      <label for="power">Primary Skill</label>
      <select class="form-control" id="skills" [(ngModel)]="userForm.skills"  name="skills" required>
        <option *ngFor="let skill of skills" [value]="skill">{{skill}}</option>
      </select>
    </div>
    <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-success">Submit</button>
    <button id="reset" type="submit" class="btn btn-danger" (click)="userForm.reset()">Reset</button>
  </form>
</div>